body {
    font-family: Arial, sans-serif;
    background-color: #fff8e1;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #131313;
     font-family:Georgia, 'Times New Roman', Times, serif
}

#resArea {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="checkbox"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    background-color: #f1c779;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #f1b545;
}

a {
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
